{% extends "layout.html" %}

{% block title %}
    Campaigns
{% endblock %}

{% block main %}
    <h2>Campaigns</h2>

    <table>

        <thead>
            <tr>
                <th>DM</th>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            {% for campaign in campaigns %}
                <tr>
                    <td>{{ campaign.dm_id }}</td>
                    <td>{{ campaign.id }}</td>
                    <td>{{ campaign.name }}</td>
                    <td>
                        <form action="/campaign/{{ campaign.id }}" method="get">
                            <button class="btn btn-primary" type="submit">View</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
