{% extends "layout.html" %}

{% block title %}
    {{ character.name }}
{% endblock %}

{% block main %}
    <ul class="formtable">
        <li>
            <span>
                <h2>{{ character.name }}</h2>
            </span>
        </li>
        <li>
            <span>
                <label>Character Name: </label>
                <label>{{ character.name }}</label>
            </span>
        </li>
        <li>
            <span>
                <label>Species: </label>
                <label>{{ character.species }}</label>
            </span>
        </li>
        <li>
            <span>
                <label>Class and level: </label>
                <label>{{ character.class }}</label>
            </span>
        </li>
        <li>
            <span>
                <label>Background: </label>
                <label>{{ character.background }}</label>
            </span>
        </li>
        <li>
            <span>
                <h2>Statistics</h2>
            </span>
        </li>
        <li>
            <span>
                <label>Size: </label>
                <label>{{ character.size }}</label>
            </span>
        </li>
        <li>
            <span>
                <label>Speed: </label>
                <label>{{ character.speed }}</label>
            </span>
        </li>
        <li>
            <span>
                <label>Armor Class: </label>
                <label>{{ character.ac }}</label>
            </span>
        </li>
        <li>
            <span>
                <label>Maximum Hit Points: </label>
                <label>{{ character.max_hitpoints }}</label>
            </span>
        </li>
        <li>
            <span>
                <label>Initiative bonus: </label>
                <label>{{ character.initiative }}</label>
            </span>
        </li>
        <li>
            <span>
                <label>Passive perception: </label>
                <label>{{ character.passive_perception }}</label>
            </span>
        </li>
        <li>
            <span>
                <h2>Attributes</h2>
            </span>
        </li>
        <li>
            <span>
                <label>Strength: </label>
                {% set strength = 7 %}
                <label>{{ strength }}</label>
                <label>{% if strength > 9 %}+{% endif %}{{ ((strength | float - 10) / 2) | round(0, 'floor') | int }}</label>
            </span>
        </li>
        <li>
            <span>
                <h2>Proficiency</h2>
            </span>
        </li>
        <li>
            <span>
                <label>Proficiency bonus: </label>
                <label>{{ character.prof_bonus }}</label>
            </span>
        </li>
        <li>
            <span>
                {% if character.user_id == user %}
                    <form action="/character/{{ character.creature_id }}/edit" method="get">
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </form>
                {% endif %}
            </span>
        </li>
    </ul>
{% endblock %}