{% extends "layout.html" %}

{% block title %}
    {{ character.name }}
{% endblock %}

{% block head %}
    
{% endblock %}

{% block main %}
    {% if character.name %}
        <h2>Edit Character: {{ character.name }}</h2>
    {% else %}
        <h2>New Character</h2>
    {% endif %}

    <form action="/character/{{ character.creature_id }}/edit" method="post">

        <ul class="formtable">
                <li>
                    <label style="width: 20%;">Name:</label>
                    <input name="name" value="{{ character.name }}" type="text" autocomplete="off" required autofocus>
                </li>
                <li>
                    <label style="width: 20%;">Background:</label>
                    <input name="background" value="{{ character.background }}" type="text" autocomplete="off" required>
                </li>
                <li>
                    <label style="width: 20%;">Species:</label>
                    <input name="species" value="{{ character.species }}" type="text" autocomplete="off" required>
                </li>
                <li>
                    <label style="width: 20%;">Class & Level:</label>
                    <input name="class" value="{{ character.class }}" type="text" autocomplete="off" required>
                </li>
                <li>
                    <label style="width: 20%;">Proficiency Bonus:</label>
                    <input name="prof_bonus" value="{{ character.prof_bonus }}" type="number" autocomplete="off" required>
                </li>
                <li>
                    <label style="width: 20%;">Initiative Bonus:</label>
                    <input name="initiative_bonus" value="{{ character.initiative_bonus }}" type="number" autocomplete="off" required>
                </li>
                <li>
                    <label style="width: 20%;">Speed:</label>
                    <input name="speed" value="{{ character.speed }}" type="number" autocomplete="off" required>
                </li>
                <li>
                    <label style="width: 20%;">Size:</label>
                    <input name="size" value="{{ character.size }}" type="text" autocomplete="off" required>
                </li>

                <li>
                    <label style="width: 20%;">Hit Point Maximum:</label>
                    <input name="max_hitpoints" value="{{ character.max_hitpoints }}" type="number" autocomplete="off" required>
                </li>
                <li>
                    <label style="width: 20%;">Features:</label>
                    <textarea name="features" type="text" autocomplete="off">{{ character.features }}</textarea>
                </li>
        </ul>

        {% include "editpage_hotbars.html" %}

        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>

{% endblock %}