{% block bars %}
    <input id="new_attack_name_tags" name="new_attack_name_tags" style="display: none;" type="text">
    <input id="new_ability_name_tags" name="new_ability_name_tags" style="display: none;" type="text">
    <input id="new_damage_name_tags" name="new_damage_name_tags" style="display: none;" type="text">
    <input id="new_resource_name_tags" name="new_resource_name_tags" style="display: none;" type="text">

    <div>
        <ul class="variable_table" id="attack_list" style="max-width: 450px; border: 0px; margin: 5px;">
            <span><h3>Attacks</h3><button style="width: 150px; height: 32px; margin: 3px;" type="button" onclick="createAttackFunction()" class="btn btn-primary">New Attack</button></span>
            <hr>
            {% for attack in attacks %}
                <ul id="a:{{ attack.id }}_list" name="a:{{ attack.id }}" style="padding: 2px; border: 1px solid gray;">
                    <li>
                        <label style='width: 30%;'><strong>Name</strong></label>
                        <input style='width: 60%;' name="a:{{ attack.id }}_name" value="{{ attack.name }}" type="text" autocomplete="off" required>
                        <button style='width: 10%;' id="a:{{ attack.id }}" type="button" onclick="deleteByNameFunction(this)" class="btn btn-primary">X</button>
                    </li>
                    <li>
                        <label style='width: 30%;'><strong>Description</strong></label>
                        <textarea style='width: 70%;' name="a:{{ attack.id }}_description" type="text" autocomplete="off" required>{{ attack.description }}</textarea>
                    </li>
                    <li>
                        <label style='width: 30%;'><strong>Attack Bonus</strong></label>
                        <input style='width: 14%;' name="a:{{ attack.id }}_bonus" value="{% if attack.bonus >= 0 %}+{% endif %}{{ attack.bonus }}" type="text" autocomplete="off" required>
                        <span style='width: 26%;'></span>
                        <button style='width: 30%;' id="a:{{ attack.id }}" type="button" onclick="createDamageFunction(this)" class="btn btn-primary">Add Damage</button>
                    </li>
                    {% for damage in attack.damages %}
                        <li name="d:{{ damage.id }}">
                            <label style='width: 10%;'><strong>Hit</strong></label>
                            <input style='width: 14%;' name="a:{{ attack.id }}.d:{{ damage.id }}_count" value="{{ damage.count }}" type="text" autocomplete="off" required>
                            <label style='width: 4%;'>d</label>
                            <input style='width: 14%;' name="a:{{ attack.id }}.d:{{ damage.id }}_size" value="{{ damage.size }}"type="text" autocomplete="off" required>
                            <label style='width: 4%;'>+</label>
                            <input style='width: 14%;' name="a:{{ attack.id }}.d:{{ damage.id }}_bonus" value="{{ damage.bonus }}" type="text" autocomplete="off" required>
                            <select style='width: 30%;' name="a:{{ attack.id }}.d:{{ damage.id }}_type" required>
                                <option value='' disabled selected hidden></option>
                                <option value='Acid' {% if damage.type == "Acid" %}selected{% endif %}>Acid</option>
                                <option value='Bludgeoning' {% if damage.type == "Bludgeoning" %}selected{% endif %}>Bludgeoning</option>
                                <option value='Cold' {% if damage.type == "Cold" %}selected{% endif %}>Cold</option>
                                <option value='Fire' {% if damage.type == "Fire" %}selected{% endif %}>Fire</option>
                                <option value='Force' {% if damage.type == "Force" %}selected{% endif %}>Force</option>
                                <option value='Lightning' {% if damage.type == "Lightning" %}selected{% endif %}>Lightning</option>
                                <option value='Necrotic' {% if damage.type == "Necrotic" %}selected{% endif %}>Necrotic</option>
                                <option value='Piercing' {% if damage.type == "Piercing" %}selected{% endif %}>Piercing</option>
                                <option value='Poison' {% if damage.type == "Poison" %}selected{% endif %}>Poison</option>
                                <option value='Psychic' {% if damage.type == "Psychic" %}selected{% endif %}>Psychic</option>
                                <option value='Radiant' {% if damage.type == "Radiant" %}selected{% endif %}>Radiant</option>
                                <option value='Slashing' {% if damage.type == "Slashing" %}selected{% endif %}>Slashing</option>
                                <option value='Thunder' {% if damage.type == "Thunder" %}selected{% endif %}>Thunder</option>></select>
                            <button style='width: 10%;' id="d:{{ damage.id }}" type="button" onclick="deleteByNameFunction(this)" class="btn btn-primary">X</button>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
    
    <div>
        <ul class="variable_table" id="ability_list" style="max-width: 450px; border: 0px;">
            <span><h3>Abilities</h3><button style="width: 150px; height: 32px; margin: 3px;" type="button" onclick="createSaveFunction()" class="btn btn-primary">New Ability</button></span>
            <hr>
            {% for save in abilities %}
                <ul id="s:{{ save.id }}_list" name="s:{{ save.id }}" style="padding: 2px; border: 1px solid gray;">
                    <li>
                        <label style='width: 30%;'><strong>Name</strong></label>
                        <input style='width: 60%;' name="s:{{ save.id }}_name" value="{{ save.name }}" type="text" autocomplete="off" required>
                        <button style='width: 10%;' id="s:{{ save.id }}" type="button" onclick="deleteByNameFunction(this)" class="btn btn-primary">X</button>
                    </li>
                    <li>
                        <label style='width: 30%;'><strong>Description</strong></label>
                        <textarea style='width: 70%;' name="s:{{ save.id }}_description" type="text" autocomplete="off" required>{{ save.description }}</textarea>
                    </li>
                    <li>
                        <label style='width: 30%;'><strong>Save DC</strong></label>
                        <input name="s:{{ save.id }}_dc" value="{{ save.dc }}" style="width: 14%;" type="text" autocomplete="off" required>
                        <select name="s:{{ save.id }}_attribute" style="width: 21%;" required>
                        <option value='' disabled selected hidden>Att</option>
                        <option value="Strength" {% if save.attribute == "Strength" %}selected{% endif %}>STR</option>
                        <option value="Dexterity" {% if save.attribute == "Dexterity" %}selected{% endif %}>DEX</option>
                        <option value="Constitution" {% if save.attribute == "Constitution" %}selected{% endif %}>CON</option>
                        <option value="Wisdom" {% if save.attribute == "Wisdom" %}selected{% endif %}>WIS</option>
                        <option value="Intelligence" {% if save.attribute == "Intelligence" %}selected{% endif %}>INT</option>
                        <option value="Charisma" {% if save.attribute == "Charisma" %}selected{% endif %}>CHA</option></select>
                        <span style='width: 5%;'></span>
                        <button style='width: 30%;' id="s:{{ save.id }}" type="button" onclick="createDamageFunction(this)" class="btn btn-primary">Add Damage</button>
                    </li>
                    {% for damage in save.damages %}
                        <li name="d:{{ damage.id }}">
                            <label style='width: 10%;'><strong>Hit</strong></label>
                            <input style='width: 14%;' name="s:{{ save.id }}.d:{{ damage.id }}_count" value="{{ damage.count }}" type="text" autocomplete="off" required>
                            <label style='width: 4%;'>d</label>
                            <input style='width: 14%;' name="s:{{ save.id }}.d:{{ damage.id }}_size" value="{{ damage.size }}" type="text" autocomplete="off" required>
                            <label style='width: 4%;'>+</label>
                            <input style='width: 14%;' name="s:{{ save.id }}.d:{{ damage.id }}_bonus" value="{{ damage.bonus }}" type="text" autocomplete="off" required>
                            <select style='width: 30%;' name="s:{{ save.id }}.d:{{ damage.id }}_type" required>
                                <option value='' disabled selected hidden></option>
                                <option value='Acid' {% if damage.type == "Acid" %}selected{% endif %}>Acid</option>
                                <option value='Bludgeoning' {% if damage.type == "Bludgeoning" %}selected{% endif %}>Bludgeoning</option>
                                <option value='Cold' {% if damage.type == "Cold" %}selected{% endif %}>Cold</option>
                                <option value='Fire' {% if damage.type == "Fire" %}selected{% endif %}>Fire</option>
                                <option value='Force' {% if damage.type == "Force" %}selected{% endif %}>Force</option>
                                <option value='Lightning' {% if damage.type == "Lightning" %}selected{% endif %}>Lightning</option>
                                <option value='Necrotic' {% if damage.type == "Necrotic" %}selected{% endif %}>Necrotic</option>
                                <option value='Piercing' {% if damage.type == "Piercing" %}selected{% endif %}>Piercing</option>
                                <option value='Poison' {% if damage.type == "Poison" %}selected{% endif %}>Poison</option>
                                <option value='Psychic' {% if damage.type == "Psychic" %}selected{% endif %}>Psychic</option>
                                <option value='Radiant' {% if damage.type == "Radiant" %}selected{% endif %}>Radiant</option>
                                <option value='Slashing' {% if damage.type == "Slashing" %}selected{% endif %}>Slashing</option>
                                <option value='Thunder' {% if damage.type == "Thunder" %}selected{% endif %}>Thunder</option>></select>
                            <button style='width: 10%;' id="d:{{ damage.id }}" type="button" onclick="deleteByNameFunction(this)" class="btn btn-primary">X</button>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
    
    <div>
        <ul class="variable_table" id="resource_list" style="max-width: 450px; border: 0px;">
            <span><h3>Resources</h3><button style="width: 150px; height: 32px; margin: 3px;" type="button" onclick="createResourceFunction()" class="btn btn-primary">New Resource</button></span>
            <hr>
            {% for resource in resources %}
                <ul id="r:{{ resource.id }}_list" name="r:{{ resource.id }}" style="padding: 2px; border: 1px solid gray;">
                    <li>
                        <label style='width: 30%;'><strong>Name</strong></label>
                        <input style='width: 60%;' name="r:{{ resource.id }}_name" value="{{ resource.name }}" type="text" autocomplete="off" required>
                        <button style='width: 10%;' id="r:{{ resource.id }}" type="button" onclick="deleteByNameFunction(this)" class="btn btn-primary">X</button>
                    </li>
                    <li>
                        <label style='width: 30%;'><strong>Description</strong></label>
                        <textarea style='width: 70%;' name="r:{{ resource.id }}_description" type="text" autocomplete="off" required>{{ resource.description }}</textarea>
                    </li>
                    <li>
                        <label style='width: 30%;'><strong>Recharge</strong></label>
                        <input style='width: 70%;' name="r:{{ resource.id }}_recharge" value="{{ resource.recharge }}" type="text" autocomplete="off" required>
                    </li>
                    <li>
                        <label style='width: 30%;'><strong>Charges</strong></label>
                        <input style='width: 14%;' name="r:{{ resource.id }}_max_charges" value="{{ resource.max_charges }}" type="text" autocomplete="off" required>
                        <span style='width: 56%;'></span>
                    </li>
                </ul>
            {% endfor %}
        </ul>
    </div>
    
    <script>
        var newAttackNameTags = [];
        var newDamageNameTags = [];
        var newSaveNameTags = [];
        var newResourceNameTags = [];

        function createAttackFunction() {
            var newAttackNameTag = "a:new_" + newAttackNameTags.length.toString();
            newAttackNameTags[newAttackNameTags.length] = newAttackNameTag;
            document.getElementById("new_attack_name_tags").value = newAttackNameTags.toString();

            var ul = document.createElement("ul");
            document.getElementById("attack_list").append(ul);
            ul.setAttribute("name", newAttackNameTag);
            ul.setAttribute("style", "padding: 2px; border: 1px solid gray;");
            ul.id = newAttackNameTag + "_list";

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Name</strong></label>
                <input style='width: 60%;' name='` + newAttackNameTag + `_name' type='text' autocomplete='off' required>
                <button style='width: 10%;' id='` + newAttackNameTag + `' type='button' onclick='deleteByNameFunction(this)' class='btn btn-primary'>X</button>`;

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Description</strong></label>
                <textarea style='width: 70%;' name='` + newAttackNameTag + `_description' type='text' autocomplete='off' required></textarea>`;

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Attack Bonus</strong></label>
                <input style='width: 14%;' name='` + newAttackNameTag + `_bonus' type='text' autocomplete='off' required>
                <span style='width: 26%;'></span>
                <button style='width: 30%;' id='` + newAttackNameTag + `' type='button' onclick='createDamageFunction(this)' class='btn btn-primary'>Add Damage</button>`;
        }

        function createSaveFunction() {
            var newSaveNameTag = "s:new_" + newSaveNameTags.length.toString();
            newSaveNameTags[newSaveNameTags.length] = newSaveNameTag;
            document.getElementById("new_ability_name_tags").value = newSaveNameTags.toString();
            
            var ul = document.createElement("ul");
            document.getElementById("ability_list").append(ul);
            ul.setAttribute("name", newSaveNameTag);
            ul.setAttribute("style", "padding: 2px; border: 1px solid gray;");
            ul.id = newSaveNameTag + "_list";

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Name</strong></label>
                <input style='width: 60%;' name='` + newSaveNameTag + `_name' type='text' autocomplete='off' required>
                <button style='width: 10%;' id='` + newSaveNameTag + `' type='button' onclick='deleteByNameFunction(this)' class='btn btn-primary'>X</button>`;

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Description</strong></label>
                <textarea style='width: 70%;' name='` + newSaveNameTag + `_description' type='text' autocomplete='off' required></textarea>`;

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Save DC</strong></label>
                <input name='` + newSaveNameTag + `_dc' placeholder='DC' style='padding: 0px; width: 14%;' type='text' autocomplete='off' required>
                <select name='` + newSaveNameTag + `_attribute' style='padding: 0px; width: 21%;' required>
                <option value='' disabled selected hidden>Att</option>
                <option value='Strength'>STR</option>
                <option value='Dexterity'>DEX</option>
                <option value='Constitution'>CON</option>
                <option value='Wisdom'>WIS</option>
                <option value='Intelligence'>INT</option>
                <option value='Charisma'>CHA</option></select>
                <span style='width: 5%;'></span>
                <button style='width: 30%;' id='` + newSaveNameTag + `' type='button' onclick='createDamageFunction(this)' class='btn btn-primary'>Add Damage</button>`;
        }

        function createDamageFunction(htmlElementNode) {
            var newDamageNameTag = htmlElementNode.id + ".d:new_" + newDamageNameTags.length.toString();
            newDamageNameTags[newDamageNameTags.length] = newDamageNameTag;
            document.getElementById("new_damage_name_tags").value = newDamageNameTags.toString();

            var ul = document.getElementById(htmlElementNode.id + "_list");
            var li = document.createElement("li");
            ul.appendChild(li);
            li.setAttribute("name", newDamageNameTag);
            li.innerHTML = `<label style='width: 10%;'><strong>Hit</strong></label>
                <input style='width: 14%;' name='` + newDamageNameTag + `_count' type='text' autocomplete='off' required>
                <label style='width: 4%;'>d</label>
                <input style='width: 14%;' name='` + newDamageNameTag + `_size' type='text' autocomplete='off' required>
                <label style='width: 4%;'>+</label>
                <input style='width: 14%;' name='` + newDamageNameTag + `_bonus' type='text' autocomplete='off' required>
                <select style='width: 30%;' name='` + newDamageNameTag + `_type' required>
                                <option value='' disabled selected hidden></option>
                                <option value='Acid'>Acid</option>
                                <option value='Bludgeoning'>Bludgeoning</option>
                                <option value='Cold'>Cold</option>
                                <option value='Fire'>Fire</option>
                                <option value='Force'>Force</option>
                                <option value='Lightning'>Lightning</option>
                                <option value='Necrotic'>Necrotic</option>
                                <option value='Piercing'>Piercing</option>
                                <option value='Poison'>Poison</option>
                                <option value='Psychic'>Psychic</option>
                                <option value='Radiant'>Radiant</option>
                                <option value='Slashing'>Slashing</option>
                                <option value='Thunder'>Thunder</option>></select>
                <button style='width: 10%;' id='` + newDamageNameTag + `' type='button' onclick='deleteByNameFunction(this)' class='btn btn-primary'>X</button>
                </li>`;
        }

        function createResourceFunction() {
            var newResourceNameTag = "r:new_" + newResourceNameTags.length.toString();
            newResourceNameTags[newResourceNameTags.length] = newResourceNameTag;
            document.getElementById("new_resource_name_tags").value = newResourceNameTags.toString();

            var ul = document.createElement("ul");
            document.getElementById("resource_list").append(ul);
            ul.setAttribute("name", newResourceNameTag);
            ul.setAttribute("style", "padding: 2px; border: 1px solid gray;");
            ul.id = newResourceNameTag + "_list";

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Name</strong></label>
                <input style='width: 60%;' name="` + newResourceNameTag + `_name" type="text" autocomplete="off" required>
                <button style='width: 10%;' id="` + newResourceNameTag + `" type="button" onclick="deleteByNameFunction(this)" class="btn btn-primary">X</button>`;

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Description</strong></label>
                <textarea style='width: 70%;' name="` + newResourceNameTag + `_description" type="text" autocomplete="off" required></textarea>`;

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Recharge</strong></label>
                <input style='width: 70%;' name="` + newResourceNameTag + `_recharge" type="text" autocomplete="off" required>`;

            var li = document.createElement("li");
            ul.appendChild(li);
            li.innerHTML = `<label style='width: 30%;'><strong>Charges</strong></label>
                <input style='width: 30%;' name="` + newResourceNameTag + `_max_charges" type="text" autocomplete="off" required>`;
        }

        function deleteByNameFunction(htmlElementNode) {
            {
                var deleteTargets = document.getElementsByName(htmlElementNode.id);
                for (var i = deleteTargets.length-1; i >= 0; i--)
                {
                    deleteTargets[i].parentNode.removeChild(deleteTargets[i]);
                }
            }
        }
        
    </script>
{% endblock %}