{% extends "layout.html" %}

{% block title %}
    {{ encounter.name }}
{% endblock %}

{% block main %}
    <h2>Encounter: {{ encounter.name }}</h2>
    <label id="encounter_status">Status: {{ encounter.status }}</label>
    <label id="encounter_round_count">Round: {{ encounter.round_count }}</label>
    <label id="encounter_turn_id">Turn of: {{ encounter.turn_combatant_id }}</label>
    {% if encounter.dm_id == user %}
        <button type="button" onclick="send_encounter_status('started')">Start</button>
        <button type="button" onclick="send_encounter_status('paused')">Pause</button>
        <button type="button" onclick="send_encounter_turn(-1)">Previous</button>
        <button type="button" onclick="send_encounter_turn(1)">Next</button>
        <form action="/encounter/{{ encounter.id }}/edit" method="get">
            <button class="btn btn-primary" type="submit">Edit</button>
        </form>
    {% endif %}

    <h2>Combatants</h2>
    <ul id="combatants" class="formtable">
        {% for combatant in combatants %}
            <li id="{{ combatant.id }}">
                <span>
                    <label>{{ combatant.id }}</label>
                    <label>{{ combatant.user_id }}</label>
                    <label>{{ combatant.creature_id }}</label>
                    <label id="name_{{ combatant.id }}" {% if encounter.turn_combatant_id == combatant.id %} style="font-weight: bold;"{% endif %}>{{ combatant.name }}</label>
                    <label id="label_initiative_bonus_{{ combatant.id }}" hidden>{{ combatant.initiative_bonus }}</label>
                    {% if combatant.user_id == user or encounter.dm_id == user %}
                        <input id="input_init_{{ combatant.id }}" onchange="send_init('{{ combatant.id }}', this.value)" type="text" value="{% if combatant.initiative == None %}{% else %}{{ combatant.initiative }}{% endif %}">
                        <input id="input_hp_{{ combatant.id }}" onchange="send_hp('{{ combatant.id }}', this.value)" type="text" value="{{ combatant.current_hitpoints }}">
                    {% endif %}
                    <label id="label_init_{{ combatant.id }}" {% if combatant.user_id == user or encounter.dm_id == user %}hidden{% endif %}>{% if combatant.initiative == None %}{% else %}{{ combatant.initiative }}{% endif %}</label>
                    <label id="label_hp_{{ combatant.id }}"{% if combatant.user_id == user or encounter.dm_id == user %}hidden{% endif %}>{{ combatant.current_hitpoints }}</label>
                    <label>/{{ combatant.max_hitpoints }}</label>
                    {% if combatant.user_id == user or encounter.dm_id == user %}
                        <form action="/{% if combatant.is_player %}character{% else %}monster{% endif %}/{{ combatant.creature_id }}" method="get">
                            <button class="btn btn-primary" type="submit">View</button>
                        </form>
                    {% endif %}
                    {% if encounter.dm_id == user %}
                        <button class="btn btn-primary" type="button" onclick="request_creature_info('{{ combatant.creature_id }}', '{{ combatant.is_player }}')">Details</button>
                    {% endif %}
                </span>
            </li>
        {% endfor %}
    </ul>

    <div id="monster_statblock_container">
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var encounter_id = "{{ encounter.id }}";
        var encounter_dm_id = "{{ encounter.dm_id }}";
        var encounter_status = "{{ encounter.status }}"
        var encounter_turn_combatant_id = "{{ encounter.turn_combatant_id }}"
        var user_id = "{{ user }}";
        var socket = io();

        // Join encounter room and user room when socket connects
        socket.on("connect", function(data) {
            socket.emit("join", {
                "encounter_id": "{{ encounter.id }}",
                "user_id": "{{ user }}"
            })
        });

        // Listen for combatant updates from server
        socket.on("combatants_updated", function({combatants}) {
            if (encounter_status == "started") {
                 // Replace elements in sorted order
                combatant_table = document.getElementById("combatants");
                combatant_table.innerHTML = "";
                combatants.forEach(function (combatant) {
                    var combatant_element = document.createElement("li");
                    combatant_element.id = combatant.id;
                    combatant_table.appendChild(combatant_element);
                    combatant_string = `<span><label>` + combatant.id + `</label><label>` + combatant.user_id + `</label><label>` + combatant.creature_id + `</label><label id="name_` + combatant.id + `"`
                    if (combatant.id == encounter_turn_combatant_id) {
                        combatant_string += ` style="font-weight: bold;"` }
                    combatant_string += `>` + combatant.name + `</label>
                        <label id="label_initiative_bonus_` + combatant.id + `" hidden>` + combatant.initiative_bonus + `</label>`
                    if (combatant.user_id == user_id || encounter_dm_id == user_id) {
                        combatant_string += `<input id="input_init_` + combatant.id + `" onchange="send_init('` + combatant.id + `', this.value)" type="text" value="`
                        if (combatant.initiative != null) {
                            combatant_string += combatant.initiative }
                        combatant_string += `"><input id="input_hp_` + combatant.id + `" onchange="send_hp('` + combatant.id + `', this.value)" type="text" value="` + combatant.current_hitpoints + `">` }
                    combatant_string += `<label id="label_init_` + combatant.id + `"`
                    if (combatant.user_id == user_id || encounter_dm_id == user_id) {
                        combatant_string += ` hidden` }
                    combatant_string += `>`
                    if (combatant.initiative != null) { 
                        combatant_string += combatant.initiative }
                    combatant_string += `</label><label id="label_hp_` + combatant.id + `"`
                    if (combatant.user_id == user_id || encounter_dm_id == user_id) {
                        combatant_string += `hidden` }
                    combatant_string += `>` + combatant.current_hitpoints + `</label><label>/` + combatant.max_hitpoints + `</label>`
                    if (combatant.user_id == user_id || encounter_dm_id == user_id) {
                        combatant_string += `<form action="/`
                        if (combatant.is_player) { combatant_string += `character` }
                        else { combatant_string += `monster` }
                        combatant_string += `/` + combatant.creature_id + `" method="get">
                                <button class="btn btn-primary" type="submit">View</button>
                            </form>` }
                    if (encounter_dm_id == user_id) {
                            combatant_string += `<button class="btn btn-primary" type="button" onclick="request_creature_info('` + combatant.creature_id + `', '` + combatant.is_player + `')">Details</button></span>` }
                combatant_element.innerHTML = combatant_string;
                });
            }
        });

        // Listen for initiative updates from server
        socket.on("init_updated", function({combatant_id, initiative}) {
            // Update initiative label
            document.getElementById("label_init_" + combatant_id).value = initiative;
            // Update initiative input if present
            if (document.getElementById("input_init_" + combatant_id))
            {
                document.getElementById("input_init_" + combatant_id).innerHTML = initiative;
            }
        });

        // Listen for hitpoint updates from server
        socket.on("hp_updated", function({combatant_id, current_hitpoints}) {
            var input_hp_element = document.getElementById("input_hp_" + combatant_id);
            var label_hp_element = document.getElementById("label_hp_" + combatant_id);
            if (input_hp_element)
            {
                input_hp_element.value = current_hitpoints;
            }
            else if (label_hp_element)
            {
                label_hp_element.innerHTML = current_hitpoints;
            }
        });

        // Listen for encounter status from server
        socket.on("status_updated", function({status}) {
            encounter_status = status;
            document.getElementById("encounter_status").innerHTML = "Status: " + status;
        });

        // Listen for turn updates from server
        socket.on("turn_updated", function({round_count, previous_turn_id, turn_id, turn_name}) {
            document.getElementById("encounter_round_count").innerHTML = "Round: " + round_count.toString();
            document.getElementById("encounter_turn_id").innerHTML = "Turn of: " + turn_name.toString();
            document.getElementById("name_" + turn_id).style.fontWeight = 'bold';
            document.getElementById("name_" + previous_turn_id).style.fontWeight = 'normal';
            encounter_turn_combatant_id = turn_id;
        })

        // Listen for creature data from server
        socket.on("creature_details_updated", function({creature_id, creature}) {
            document.getElementById("creature_user_id").innerHTML = creature.user_id;
            document.getElementById("creature_id").innerHTML = creature.id;
            document.getElementById("creature_name").innerHTML = creature.name;
        });

        // Send start encounter signal to server
        function send_encounter_status(status)
        {
            socket.emit("encounter_status_update", encounter_id, status)
        }

        // Send change turn signal to server
        function send_encounter_turn(change)
        {
            if (encounter_status == "started") {
                socket.emit("encounter_turn_update", encounter_id, change)
            }
        }

        // Send initiative information to server
        function send_init(combatant_id, initiative)
        {
            socket.emit("init_update", encounter_id, combatant_id, initiative);
        }

        // Send hp information to server
        function send_hp(combatant_id, current_hitpoints)
        {
            socket.emit("hp_update", encounter_id, combatant_id, current_hitpoints);
        }

        // Send creature id to server, which will respond with creature data
        function request_creature_info(creature_id, is_player)
        {
            socket.emit("creature_info_request", user_id, creature_id, is_player);
        }
    </script>
{% endblock %}