{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>My Characters</h2>
    <ul class="formtable">
        {% for character in characters %}
            <li>
                <label>{{ character.name }}</label>
                <label>{{ character.species }}</label>
                <label>{{ character.class }}</label>
                <form action="/character/{{ character.creature_id }}" method="get">
                    <button class="btn btn-primary" type="submit">View</button>
                </form>
                <form action="/character/{{ character.creature_id }}/edit" method="get">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form action="/character/new/edit" method="get">
        <button class="btn btn-primary" type="submit">New Character</button>
    </form>

    <h2>My Campaigns</h2>
    <ul class="formtable">
        {% for campaign in campaigns %}
            <li>
                <label>{{ campaign.name }}</label>
                <form action="/campaign/{{ campaign.id }}" method="get">
                    <button class="btn btn-primary" type="submit">View</button>
                </form>
                {% if campaign.dm_id == user %}
                <form action="/campaign/{{ campaign.id }}/edit" method="get">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <form action="/campaign/new/edit" method="get">
        <button class="btn btn-primary" type="submit">New campaign</button>
    </form>

    <h2>My Monsters</h2>
    <ul class="formtable">
        {% for monster in monsters %}
            <li>
                <label>{{ monster.name }}</label>
                <label>{{ monster.species }}</label>
                <label>{{ monster.class }}</label>
                <form action="/monster/{{ monster.creature_id }}" method="get">
                    <button class="btn btn-primary" type="submit">View</button>
                </form>
                <form action="/monster/{{ monster.creature_id }}/edit" method="get">
                    <button class="btn btn-primary" type="submit">Edit</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form action="/monster/new/edit" method="get">
        <button class="btn btn-primary" type="submit">New Monster</button>
    </form>

    <h2>Campaign invitations</h2>
    <ul class="formtable">
        {% for received_invitation in received_invitations %}
                <li>
                    <label>From {{ received_invitation.username }}</label>
                    <label>{{ received_invitation.name }}</label>
                    <label>{{ received_invitation.status }}</label>
                    {% if received_invitation.status == "pending" %}
                        {% if characters %}
                            <label>Join campaign with character:</label>
                            <form action="/invitation/{{ received_invitation.id }}/accepted" method="post">
                                <span>
                                    <select name="creature_id" placeholder="Select character">
                                        {% for character in characters %}
                                            <option value="{{ character.creature_id }}">{{ character.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="btn btn-primary" type="submit">Accept</button>
                                </span>
                            </form>
                            <form action="/invitation/{{ received_invitation.id }}/denied" method="post">
                                <button class="btn btn-primary" type="submit">Deny</button>
                            </form>
                        {% else %}
                            <label>Please create a character before responding.</label>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}

            {% for sent_invitation in sent_invitations %}
                <li>
                    <label>To {{ sent_invitation.username }}</label>
                    <label>{{ sent_invitation.name }}</label>
                    <label>{{ sent_invitation.status }}</label>
                    {% if sent_invitation.status == "pending" %}
                        <form action="/invitation/{{ sent_invitation.id }}/denied" method="post">
                            <button class="btn btn-primary" type="submit">Cancel</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
    </ul>
{% endblock %}
