{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>My Characters</h2>

    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Prof. Bonus</th>
                <th>Max HP</th>
            </tr>
        </thead>

        <tbody>
            {% for character in characters %}
                <tr>
                    <td>{{ character.name }}</td>
                    <td>{{ character.prof_bonus }}</td>
                    <td>{{ character.max_hitpoints }}</td>
                    <td>
                        <form action="/character/{{ character.id }}" method="get">
                            <button class="btn btn-primary" type="submit">View</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <form action="/character/new/edit" method="get">
        <button class="btn btn-primary" type="submit">New Character</button>
    </form>

    <h2>My Parties</h2>

    <table>

        <thead>
            <tr>
                <th>DM</th>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            {% for party in parties %}
                <tr>
                    <td>{{ party.dm_id }}</td>
                    <td>{{ party.id }}</td>
                    <td>{{ party.name }}</td>
                    <td>
                        <form action="/party/{{ party.id }}" method="get">
                            <button class="btn btn-primary" type="submit">View</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    <form action="/party/new/edit" method="get">
        <button class="btn btn-primary" type="submit">New Party</button>
    </form>

    <h2>Party Invitations</h2>

    <table>

        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Party</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            {% for received_invitation in received_invitations %}
                <tr>
                    <td>{{ received_invitation.username }}</td>
                    <td>Me</td>
                    <td>{{ received_invitation.name }}</td>
                    <td>{{ received_invitation.status }}</td>
                    {% if received_invitation.status == "pending" %}
                        <td>
                            <form action="/invitation/{{ received_invitation.id }}" method="get">
                                <button class="btn btn-primary" type="submit">View</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            {% for sent_invitation in sent_invitations %}
                <tr>
                    <td>Me</td>
                    <td>{{ sent_invitation.username }}</td>
                    <td>{{ sent_invitation.name }}</td>
                    <td>{{ sent_invitation.status }}</td>
                    {% if sent_invitation.status == "pending" %}
                        <td>
                            <form action="/invitation/{{ sent_invitation.id }}/denied" method="post">
                                <button class="btn btn-primary" type="submit">Cancel</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
