{% extends "layout.html" %}

{% block title %}
    Monsters
{% endblock %}

{% block main %}
    <h2>Monsters</h2>

    <table>

        <thead>
            <tr>
                <th>User</th>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>
            {% for monster in monsters %}
                <tr>
                    <td>{{ monster.user_id }}</td>
                    <td>{{ monster.id }}</td>
                    <td>{{ monster.name }}</td>
                    <td>
                        <form action="/monster/{{ monster.creature_id }}" method="get">
                            <button class="btn btn-primary" type="submit">View</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
